body{

}
.footer{
  background-color: #1f1f1efc;
  border-top: 1px solid grey;
  padding: 50px 0;
  position: relative;
  width: 80%;
  left: 20%;
}
.sec-1{
  float: left;
  width: 30%;
}
.fas {
    font-weight: 900;
    color: white;
}
i.fas.fa-search:hover {
    cursor: pointer;
}
.sec-2{
  float: right;
width: 38%;
}
.input-group{
  display: flex;
    width: 60%;
    float: right;
}
input[type="email"] {
  width: 76%;
  font-size: 14px;
}
button{
  background-color: #f7cd00;
    color: rgba(0,0,0,.9);
    padding: 5px;
    font-size: 13px;
    border-style: none;
}
button:hover{
  background-color: #ffb100;
  cursor: pointer;
}
input[type="text"] {
    width: 60%;
    font-size: 15px;
    padding: 1px;
}
.section-2-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  clear: both;
}
.content-1-1{
  margin: 15px auto;
  width: 90%;
}
.content-1-1 ul{
  list-style-type: none;
}
.content-1-1 li a{
  text-decoration: none;
  color: #959090;
  font-size: 14px;
  letter-spacing: 1px;
}
.content-1-1 a:hover{
  color: white;
}
.content-1-1 li{
  padding-top: 10px;
}
.first-headings{
  color: #f7b600;
  font-size: 19px;
}
.copy-right p{
  font-size: 14px;
  color: #959090f0;
}
.last-icons{
  width: 40%;
  float: right;
}
.last-icons a {
    padding: 0;
    float: right;
}
.last-icons .fa-twitter-square:before{
  color: grey;
  font-size: 30px;
}
.last-icons .fa-twitter-square:hover:before{
  color: white;
}
.last-icons .fa-github-square:before {
  padding: 10px;
  padding: 10px;
  color: grey;
  font-size: 30px;
}
.last-icons .fa-github-square:hover:before{
  color: white;
}
.last-icons .fa-facebook-square:before{
  color: grey;
  font-size: 30px;
}
.last-icons .fa-facebook-square:hover:before{
  color: white;
}
.fts{
  margin-bottom: 20px;
  margin-top: 40px;
}
.footer .section-3 {
    margin-top: 60px;
    width: 100%;
}
.copy-right {
  width: 50%;
  display: inline-block;
}
