/*// START MEDIA QUERY FOR LAPTOPS //*/

@media screen and (min-width: 1024px) and (max-width: 1300px){
  #sidebars{
     width: 20%;
}
  .main-container {
     width: 80%;
     position: relative;
     left: 20%;
}
.first-content {
    position: absolute;
    text-align: right;
    width: 100%;
    right: 5%;


}
#heading-1{
  font-size: 40px;
}
.first-content h1{
  margin-bottom: 0px;
  font-size: 63px;
}
.section-2 li {
     padding: 20px 0px;
}
.section-2 a {
     padding: 10px 22px;
  }
}

/*// MEDIA QUERY FOR TABLETS //*/

@media screen and (min-width: 768px) and (max-width: 1023px){
    #sidebars{
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      height: 95px;
      position: fixed;
    }
    #heading-1{
      font-size: 40px;
    }
    .first-content h1{
      font-size: 60px;
      margin-top: 15px;
    }
    .grd-ban {
    width: 100%;
    height: 50vh;

}
.ban-section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 50px;
}
.ban-content1{

}
    .sdb{
      display: flex;
      margin: 0;
    }
    .section-1{
      width: 20%;
    }
    .section-1 h1{
      margin: 8px;
font-size: 50px;
    }
    .section-1 h2{
      font-size: 12px;
margin-top: -5px;
    }
    .section-1 p{
      display: none;
    }
    .section-2{
      width: 80%;
    }
    .section-2 ul{
      display: flex;
      float: right;
    }
    .section-2 li{
    padding: 19px 21px;
    }
    .section-2 a{
      padding: 0px;
      font-size: 15px;
    }
    .section-2 a:hover{
    background-color: rgba(0,0,0,0);
      border-bottom: 2px solid #f7b600;
          padding-bottom: 43px;
          transition-duration: .5s;
          color: #f7b600;
    }
    .section-3{
      display: none;
    }
    .test{
      position: relative;
      top: 10px;
    }
    .main-container{
      width: 100%;
      position: relative;
      left: 0;
    }
    .first-content {
        position: absolute;
        text-align: right;
        width: 100%;
        right: 5%;
      top: 370px;

    }
    .ban-content1 p, .ban-content2 p{
      font-size: 20px;
    padding: 10px 25px;
    line-height: 35px;
    text-align: center;
    }
    .footer{
      width: 100%;
    position: relative;
    left: 0;

    }
    .section-2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    clear: both;
    }
    .banner{
      width: 100%;
      background-image: url("../../images/banner2.png");
      background-size: cover;
      background-position: top;
      /*margin-top: 90px;*/
      height: 50vh;
    }
    .black-image {
    width: 100%;
    height: 0vh;
}
    .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 80px;
    grid-column-gap: 40px;
    }
    .last-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-column-gap: 40px;
      grid-row-gap: 80px;
    }
    .list-content li{
      padding-bottom: 55px;
    line-height: 35px;
    font-size: 20px;
    }
    i.fas.fa-check-circle{
      top: 5px;
    }
    .section-1-1{
      width: 100%;
    }
    .sec-1{
      width: 43%;
    }
    .sec-2{
      width: 48%;
    }
    .form-inline, .input-group{
      width: 100%;
    }
    i.fas.fa-search {
    font-size: 25px;
    margin-left: 3px;
  }
  button.btn.btn-sm.btn-outline-white.my-0 {
    font-size: 20px;
}
    input.form-control.form-control-sm.mr-3.w-75{
      width: 90%;
    margin-top: 5px;
    line-height: 30px;
    }
    input.form-control.form-control-sm{
      width: 79%;
    margin-top: 5px;
    line-height: 30px;
    }
    .first-headings{
      font-size: 24px;
    }
    .content-1-1 li a{
      font-size: 18px;
    }
    .last-icons {
    /*margin-top: -70px;*/
  }

}
/*// MEDIA QUERY FOR PHONES //*/
@media (max-width: 767px)  {
  #sidebars{
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    height: 70px;
    position: fixed;
  }
  #heading-1{
    font-size: 35px;
  }
  .first-content h1{
    font-size: 52px;
    margin-top: 15px;
  }
  .grd-ban {
  width: 100%;
  height: 50vh;

}
.ban-section1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 50px;
}
.ban-content1{

}
  .sdb{
    display: flex;
    margin: 0;
  }
  .section-1{
    width: 30%;
  position: absolute;
  top: 0px;
  }
  .section-1 h1{
    margin: 0;
  font-size: 45px;
  }
  .section-1 h2{
    font-size: 15px;
    margin-top: -5px;
  }
  .section-1 p{
    display: none;
  }
  .section-2{
    width: 100%;
    position: relative;
    height: 50vh;
    background-color: rgba(0,0,0,.9);

  }
  #menubtn, #crossbtn{
    background-color: rgba(0,0,0,0);
    border-style: none;
    position: absolute;
    top: 14px;
    right: 5%;
    cursor: pointer;
    display: block;
  }
  #crossbtn{
    background-color: rgba(0,0,0,.8);
    
  }
  #menu{
    display: none;
  }

    #crossbtn:hover{
    color: white;
  }

  .section-2 ul{

text-align: center;
  }
  .section-2 li{
    padding: 19px 21px;
position: relative;
top: 100px;

margin: 0px 60px;
  }
  .section-2 li:last-child{
    border-style: none;
  }
  .section-2 a{
    padding: 0px;
    color: white;
    font-weight: lighter;
    font-size: medium;
letter-spacing: 4px;
  }
  .section-2 a:hover{
  background-color: rgba(0,0,0,0);
  color: #f7b600;
  }
  .section-3{
    display: none;
  }
  .test{
    position: relative;
    top: 10px;
  }
  .main-container{
    width: 100%;
    position: relative;
    left: 0;
  }
  .first-content {
      position: absolute;
      text-align: right;
      width: 80%;
      right: 5%;
    top: 340px;

  }
  .ban-content1 p, .ban-content2 p{
    font-size: 20px;
  padding: 10px 25px;
  line-height: 35px;
  text-align: center;
  }
  .footer{
    width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;

  }
  .section-2-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  clear: both;
  }
  .banner{
    width: 100%;
    background-image: url("../../images/banner2.png");
    background-size: cover;
    background-position: top;
    /*margin-top: 90px;*/
    height: 50vh;
  }
  .black-image {
  width: 100%;
  height: 0vh;
}
  .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 345px auto auto;
  grid-row-gap: 80px;
  grid-column-gap: 40px;
  }
  .last-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 80px;
  }
  .list-content li{
    padding-bottom: 55px;
  line-height: 35px;
  font-size: 20px;
  }
  i.fas.fa-check-circle{
    top: 5px;
  }
  .section-1-1{
    width: 100%;
  }
  .sec-1{
    width: 100%;
  }
  .sec-2{
    width: 100%;
    margin-top: 20px;
  }
  .form-inline, .input-group{
    width: 100%;
  }
  i.fas.fa-search {
  font-size: 25px;
  margin-left: 3px;
}
button.btn.btn-sm.btn-outline-white.my-0 {
  font-size: 20px;
}
  input.form-control.form-control-sm.mr-3.w-75{
    width: 90%;
  margin-top: 5px;
  line-height: 30px;
  }
  input.form-control.form-control-sm{
    width: 79%;
  margin-top: 5px;
  line-height: 30px;
  }
  .first-headings{
    font-size: 24px;
  }
  .content-1-1 li a{
    font-size: 18px;
  }
  .last-icons {
  /*margin-top: -70px;*/
}
.copy-right p {
    font-size: 14px;
    color: #959090f0;
    position: absolute;
    bottom: 35px;
}
.copy-right {
    width: 65%;
    position: relative;
    top: 71px;
  }

}
