body{
  padding: 0;
  margin: 0;
  font-family: Roboto,sans-serif;

}
#sidebars{
  background-color: black;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 20%;
  height: 100%;
  border-right: 1px solid white;
}
#crossbtn, #menubtn{
  display: none;
}
.sdb {
  margin-top: 85px;
  margin-bottom: 85px;
}
.section-1 h1{
  font-family: Roboto,sans-serif;
  color: #f7b600;
  font-size: 80px;
  margin-bottom: 0;
}
.section-1 h2{
  font-size: 35px;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-weight: 100;
  margin-bottom: 0;
}
.section-1 p{
  font-size: 20px;
  font-family: roboto;
  padding-bottom: 10px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 50px;
}
.section-2 ul{
  list-style-type: none;
  padding: 0px;
  text-align: center;
  font-family: sans-serif;
}
.section-2 li{
  padding: 30px 6px;
}
.section-2 a{
  padding: 10px 50px;
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 3px;
}
.section-2 a:hover{
  background-color: #f7b600;
}
.section-3 a{
  padding: 10px;
}
#sidebars .section-3 {
  position: relative;
  top: 175px;
  bottom: 0px;
  text-align: center;
}
.fa-twitter-square:before{
  color: #fff;
  font-size: 30px;
}
.fa-twitter-square:hover:before{
  color: #f7b600;
}
.fa-github-square:before {
  content: "\f092";
  color: #fff;
  font-size: 30px;
}
.fa-github-square:hover:before{
  color: #f7b600;
}
.fa-facebook-square:before{
  color: #fff;
  font-size: 30px;
}
.fa-facebook-square:hover:before{
  color: #f7b600;
}
.section-1, .section-2{
  color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
