<div id="sidebars">
    <div class="sdb">
       <div class="section-1">
          <h1>RS</h1>
          <h2 title="main hoon">Rohit Sharma</h2>
          <p>Front-end Developer</p>
       </div>
       <div class="section-2">
          <ul>
             <li><a href="#about">About</a></li>
             <li><a href="#about">Services</a></li>
             <li><a href="#about">Clients</a></li>
             <li><a href="#about">Portfolio</a></li>
             <li><a href="#about">Contact</a></li>
          </ul>
       </div>
       <div class="section-3">
           <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
           <a href="https://github.com/"><i class="fab fa-github-square"></i></a>
           <a href="https://facebook.com/"><i class="fab fa-facebook-square"></i></a>
       </div>
    </div>
</div>
